body{
  margin:0;
  height:100vh;
  background:radial-gradient(circle at top,#ff4d6d,#590d22);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  font-family: 'Segoe UI', sans-serif;
}

.container{
  text-align:center;
  z-index:2;
  color:white;
}

.name{
  font-size:48px;
  color:#fff;
  text-shadow:0 0 10px #ffb3c1,0 0 30px #ff4d6d;
  animation:pulse 1.5s infinite;
}

@keyframes pulse{
  0%{transform:scale(1)}
  50%{transform:scale(1.08)}
  100%{transform:scale(1)}
}

.date{
  margin-bottom:15px;
  font-size:18px;
  opacity:0.9;
}

.slideshow img{
  width:220px;
  height:220px;
  object-fit:cover;
  border-radius:50%;
  border:5px solid white;
  box-shadow:0 0 40px rgba(255,255,255,0.6);
  animation:zoom 6s infinite;
}

@keyframes zoom{
  0%{transform:scale(1)}
  50%{transform:scale(1.15)}
  100%{transform:scale(1)}
}

.text{
  max-width:300px;
  margin:20px auto;
  font-size:17px;
  min-height:120px;
}

button{
  padding:12px 28px;
  border:none;
  border-radius:30px;
  font-size:16px;
  cursor:pointer;
  background:white;
  color:#ff4d6d;
  transition:0.3s;
}

button:hover{
  transform:scale(1.15);
}

/* HEART RAIN */
.hearts span{
  position:absolute;
  color:red;
  font-size:20px;
  animation:fall linear infinite;
}

@keyframes fall{
  from{transform:translateY(-10vh);opacity:1}
  to{transform:translateY(110vh);opacity:0}
}

